/** @format */
.main-order-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.order-container-left {
	width: 50%;
	height: 100%;
}

.image-temp {
	padding: 40px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.Course-details {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 5%;
}
.Course-details h2 {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 5px;
	text-align: center;
}
.Course-details p {
	font-size: 1.5rem;
	font-weight: 400;
	padding: 5px;
	text-align: center;
}

/* courseOrder.css */

/* Right container */
/* courseOrder.css */

/* Right container */
.Order-Contaier-right {
	flex: 1;
	margin: 10px;
	padding: 20px;
	border: 1px solid #e1e1e1;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order h2 {
	font-size: 24px;
	margin: 0;
	color: #333;
}

/* Order summary */
.Order-summary {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #e1e1e1;
	border-radius: 8px;
	background-color: #f9f9f9;
}

.order-sum-details {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0;
}

.order-sum-details p {
	font-size: 18px;
	color: #333;
}

.payment-options {
	margin-top: 20px;
}

.payment-options p {
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

/* Payment radio options */
.payment-option {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.payment-option input[type='radio'] {
	margin-right: 10px;
	cursor: pointer;
}

.payment-option label {
	font-size: 18px;
	color: #333;
	cursor: pointer;
}

.payment-option label:hover {
	text-decoration: underline;
}

.paynow {
	margin-top: 20px;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	background-color: #59a057;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}
.paynow:hover {
	background-color: #68f76d;
}
